@page "/"

<PageTitle>Index</PageTitle>

<h1>Github Pages Test!</h1>

Welcome to your new app.

this was written without looking at the keyboard. LOL

<SurveyPrompt Title="How is Blazor working for you?" />
